<main class="profile">
    <div class="wrapper tiny-wrapper">
        <section class="user-profile">
            {{#if self}}
                {{#if session.edit}}
                    <form method="post" action="api/update-user/{{specific.user.0.ID}}">
                {{/if}}
            {{/if}}
            <div class="top-side">
                <p class="is-connected online">Online</p>
                <img class="user-picture" src="/{{{specific.user.0.PROFILE_PICTURE}}}" alt="User {{{specific.user.0.USERNAME}}} '"/>
                <h1>{{{specific.user.0.USERNAME}}}</h1>

                {{#if session.edit}}
                    <input type="text" placeholder="Your location" value="{{{specific.user.0.CITY}}}" name="city" id="city"/>
                    {{else}}
                        {{#if specific.user.0.CITY}}
                            <span>{{specific.user.0.CITY}}</span>
                        {{else}}
                            <span>Not provided</span>
                        {{/if}}
                {{/if}}

                {{#if self}}
                <div class="edit-buttons">
                    {{#if session.edit}}
                        <textarea placeholder="Describe yourself shortly" name="about" id="about">{{specific.user.0.ABOUT}}</textarea>
                        {{else}}
                            {{#if specific.user.0.ABOUT}}
                                <p class="about">{{specific.user.0.ABOUT}}</p>
                            {{else}}
                                <p class="about">No introduce yet</p>
                            {{/if}}
                    {{/if}}
                </div>
                {{/if}}
            </div>

            <div class="bottom-side">
            <div class="languages clearfix">
                <div class="helper">
                    <span class="marker">?</span>
                    <div class="content">
                        <h3>1-Beginner</h3>
                        <p>You can make or understand very simple sentences.</p>
                        <h3>2-Elementary</h3>
                        <p>You can understand sentences with specific words. You can describe your surrounding and make subordinate sentences. You can get key words of a text to understand it briefly.</p>
                        <h3>3-Intermediate</h3>
                        <p>You can understand the essential content of a concrete text. You can instant write with ease although you have a lack of vocabulary.</p>
                        <h3>4-Advanced</h3>
                        <p>You can understand most of the text but you need to have specific vocabulary and rules to complete your learning</p>
                        <h3>5-Native</h3>
                        <p>You perfectly speak and write the language as a native speaker.</p>
                    </div>
                </div>
                <div class="list-languages decal">
                    <h2>Speak</h2>
                    <ul>
                        {{#each specific.user.0.spoken as |spoken|}}
                            <li>{{spoken.LANGUAGE}} <img src="../img/level-lang/{{spoken.LEVEL}}.svg" alt=""/></li>
                        {{/each}}
                    </ul>
                </div>
                <div class="list-languages">
                    <h2>Learn</h2>
                    <ul>
                        {{#each specific.user.0.learning as |learning|}}
                        <li>{{learning.LANGUAGE}} <img src="../img/level-lang/{{learning.LEVEL}}.svg" alt=""/></li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="bio">
                <h2>Bio</h2>
                {{#if session.edit}}
                    <textarea placeholder="Tell us more about you" name="bio" id="bio">{{specific.user.0.BIOGRAPHY}}</textarea>
                {{else}}
                    {{#if specific.user.0.BIOGRAPHY}}
                        <p>{{specific.user.0.BIOGRAPHY}}</p>
                    {{else}}
                        <p>No Bio yet</p>
                    {{/if}}
                {{/if}}
            </div>
            <div class="interests clearfix">
                <h2>Interests</h2>
                <ul class="clearfix">
                    {{#if session.edit}}
                    {{#each specific.interests as |interest|}}
                            <li class="editable">{{interest.INTEREST}}</li>
                    {{/each}}
                    {{else}}
                    {{#each specific.interests as |interest|}}
                    <li>{{interest.INTEREST}}</li>
                    {{/each}}
                    {{/if}}
                </ul>
                {{#if session.edit}}
                <div class="add-interest-wrapper clearfix">
                    <input class="add-interest" placeholder="Type an interest" type="text" max="50"/>
                    <button cta-text="Add" class="submit-add-interest cta">Add</button>
                </div>
                {{/if}}
            </div>
            <div class="address">
                <h2>Address</h2>
                {{#if session.edit}}
                <textarea placeholder="Where to receive letters ?" name="address" id="address">{{specific.user.0.ADDRESS}}</textarea>
                {{else}}
                {{#if specific.user.0.ADDRESS}}
                <p class="about">{{specific.user.0.ADDRESS}}</p>
                {{else}}
                <p class="about">No address yet</p>
                {{/if}}
                {{/if}}
            </div>
        </section>
        <section class="flow clearfix">
            <div class="user-interactions">
                <ul class="clearfix">
                    <li><span>{{specific.user.0.POSTS}}</span>posts</li>
                    <li><span>{{specific.user.0.FRIENDS}}</span>friends</li>
                    <li><span>{{specific.user.0.CORRECTIONS}}</span>corrections</li>
                </ul>
                {{#if self}}

                    {{#if session.edit}}
                        <button cta-text="Save" class="save-profile cta">Save</button>
                        <button cta-text="Cancel" class="cta2 cancel-profile cta">Cancel</button>
                    {{else}}
                        <button cta-text="Edit profile" class="edit-profile cta">Edit profile</button>
                    {{/if}}
                {{else}}
                <a href="/conversations" cta-text="Start conversation" class="cta">Start conversation</a>
                    {{#if friend}}
                        <span class="friend">Friend</span>
                    {{else}}
                        <a cta-text="Add friend" href="/add-friend/{{specific.user.0.ID}}" class="add-friend first-cta">Add friend</a>
                    {{/if}}
                {{/if}}
            </div>
            {{#if specific.posts}}
            {{#each specific.posts as |post|}}
            <div id="{{post.ID}}" class="post-container">
                <div class="post">
                    <div class="post-infos clearfix">
                        <div class="options">{{post.POST_DATE}}
                            <button class="more-options"><img src="../img/arrow.svg" alt="Arrow"/></button>
                            <div class="more-options-dd">
                                <ul>
                                    <li><button>Report this post</button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="user-infos">
                            <a href="/profile/{{post.USERNAME}}">
                                <img class="mini-pic" src="/{{post.PROFILE_PICTURE}}" alt=""/>
                                <div class="side-infos">
                                    <strong>{{{post.USERNAME}}}</strong>
                                    <div class="languages">
                                        <ul class="spoken-languages">
                                            {{#each post.languages as |language|}}
                                            {{#unless language.TYPE_LANGUAGE}}
                                            <li>{{language.ABBR}}<img class="level" src="../img/level-lang/{{language.LEVEL}}.svg" alt="level {{language.LEVEL}}"/></li>
                                            {{/unless}}
                                            {{/each}}
                                        </ul>
                                        <ul class="learning-languages">
                                            {{#each post.languages as |language|}}
                                            {{#if language.TYPE_LANGUAGE}}
                                            <li>{{language.ABBR}}<img class="level" src="../img/level-lang/{{language.LEVEL}}.svg" alt="level {{language.LEVEL}}"/></li>
                                            {{/if}}
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end post-infos -->
                    <div class="content-post">
                        <p>{{post.CONTENT_POST}}</p>
                        {{#if post.IMAGE_PATH}}
                        <img src="/{{post.IMAGE_PATH}}" alt="image of {{post.USERNAME}}"/>
                        {{/if}}
                    </div>
                    <div class="reaction-post">
                        <ul>
                            <li><button class="heart"><span></span><strong>{{post.NBR_LIKE}}</strong></button></li>
                            <li><button class="comment"><span></span><strong>{{post.NBR_COMMENTS}}</strong></button></li>
                            <li><button  class="correct"><span></span><strong>{{post.NBR_CORRECTIONS}}</strong></button></li>
                        </ul>
                    </div>
                </div>
                <!-- end post-->
                <div class="comment-container">
                    <div class="user-comment-post">
                        <img src="/{{{post.PROFILE_PICTURE}}}" alt=""/>
                        <textarea placeholder="Write a reaction"></textarea>
                    </div>
                    <div class="comments-summary">
                        <ul>
                            {{#each post.comments as |comment|}}
                            <li>
                                <a href="/profile/{{comment.USERNAME}}"><img src="/{{comment.PROFILE_PICTURE}}" alt="test"/></a>
                                <div class="user-comment">
                                    <div class="comment-infos clearfix">
                                        <a href="">{{comment.USERNAME}}</a>
                                        <span class="timer">{{comment.POST_DATE}}</span>
                                    </div>
                                    <p>{{{comment.CONTENT}}}</p>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="correction-container">
                    <div class="user-correction-post">
                        <div class="clearfix">
                            <button cta-text="Make a correction" class="activator cta active">Make a correction</button>
                        </div>
                        <div class="corrector clearfix">
                            <img src="/{{{../session.profile_picture}}}" alt=""/>
                            <textarea placeholder="Write a reaction">I think you are right</textarea>
                            <div class="actions clearfix">
                                <button cta-text="Cancel" class="cta cta2 cancel">Cancel</button>
                                <button cta-text="Save" class="cta save">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="corrections-summary">
                        <ul>
                            {{#each post.corrections as |correction|}}
                            <li>
                                <a href="/profile/{{correction.USERNAME}}"><img src="/{{correction.PROFILE_PICTURE}}" alt=""/></a>
                                <div class="user-correction">
                                    <div class="correction-infos clearfix">
                                        <a href="">{{correction.USERNAME}}</a>
                                        <span class="timer">{{correction.POST_DATE}}</span>
                                    </div>
                                    <div class="correction">
                                        <p class="text">{{{correction.CONTENT}}}</p>
                                        <p class="text-correction">{{{correction.CONTENT_CORRECTION}}}</p>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <p class="no-post">No posts yet</p>
            {{/if}}
        </section>
    </div>
</main>